 #BQFramePage {
halign:center;
height:fill;
layout:vbox;
width:fill;
}
 #viewPage0 {
halign:center;
height:fill;
layout:vbox;
background:#F5F5F5;
width:fill;
}
 #panel0 {
halign:center;
height:0;
weight:1;
layout:vbox;
width:fill;
}
 #widget1 {
height:450;
width:320.0;
}
 #widget0 {
height:44;
width:320.0;
}
