 #region1 {
height:fill;
layout:relative;
width:fill;
}
 #BQMenuView {
height:460.0;
layout:hbox;
width:320.0;
left:0.0;
valign:center;
top:0.0;
}
 #panel0 {
halign:center;
height:fill;
layout:vbox;
background:#FFFFE0;
width:fill;
}
 #buttonUserInfo {
hAlign:center;
height:40.0;
color:#000040;
background:#ffffff;
font-size:17;
width:fill;
font-family:default;
font-pressed-color:#f2adb2;
vAlign:center;
pressed-color:#ff0000;
}
 #buttonSyset {
hAlign:center;
height:44;
color:#000040;
background:#ffffff;
font-size:17;
width:fill;
font-family:default;
margin-top:2;
font-pressed-color:#f2adb2;
vAlign:center;
pressed-color:#ff0000;
}
 #listviewAnalysis {
halign:center;
height:360.0;
layout:vbox;
width:320.0;
}
 #button0 {
hAlign:center;
width:fill;
font-pressed-color:#f2adb2;
pressed-color:#ff0000;
height:40.0;
color:#000040;
background:#ffffff;
font-size:17;
left:0.0;
font-family:default;
vAlign:center;
top:0.0;
}
 #button1 {
hAlign:center;
width:fill;
font-pressed-color:#f2adb2;
pressed-color:#ff0000;
height:44;
color:#000040;
background:#ffffff;
font-size:17;
left:0.0;
font-family:default;
margin-top:2;
vAlign:center;
top:42.0;
}
 #listview0 {
halign:center;
height:360.0;
layout:vbox;
width:320.0;
left:0.0;
top:86.0;
}
